.messengers
  .messengers__item 
    a(href="/" target="_blank", rel="noopener noreferrer")
      img(src="./img/messengers/tg.svg", alt="telegram")
  .messengers__item 
    a(href="/" target="_blank", rel="noopener noreferrer")
      img(src="./img/messengers/wa.svg", alt="whatsApp")