include ../components/button.pug 
include ../components/input.pug 


#modal1.modal
  .modal__container
    .modal__body
      .modal__head
        h2 Быстро оставить заявку
        p Свяжемся с вами в течении 5 минут
      .modal__main
        form.modal__form(action='')
          +input('Введите ваше имя')
          +input('Введите контактный телефон', 'tel')
          +button('ЗАКАЗАТЬ ЗВОНОК', 'submit')
          p Нажимая на кнопку вы соглашаетесь с условиями обработки данных и <a href="./policy.pug" target="_blank">политикой конфиденциальности</a>
#modal2.modal
  .modal__container
    .modal__body
      .modal__head
        h2 Запишитесь на бесплатное пробное занятие 
        p Количество мест ограничено
      .modal__main
        form.modal__form(action='')
          +input('Введите ваше имя')
          +input('Введите контактный телефон', 'tel')
          +button('ЗАБРОНИРОВАТЬ МЕСТО', 'submit')
          p Нажимая на кнопку вы соглашаетесь с условиями обработки данных и <a href="./policy.pug" target="_blank">политикой конфиденциальности</a>
#modal3.modal
  .modal__container
    .modal__body
      .modal__head
        h2 Подробнее о наших скидках 
        p вы можете узнать  по телефону
      .modal__main
        form.modal__form(action='')
          +input('Введите ваше имя')
          +input('Введите контактный телефон', 'tel')
          +button('ЗАКАЗАТЬ ЗВОНОК', 'submit')
          p Нажимая на кнопку вы соглашаетесь с условиями обработки данных и <a href="./policy.pug" target="_blank">политикой конфиденциальности</a>
#modal4.modal
  .modal__container
    .modal__body
      .modal__head
        h2 Старт обучения совсем скоро!
        p Забронируйте место бесплатно
      .modal__main
        form.modal__form(action='')
          +input('Введите ваше имя')
          +input('Введите контактный телефон', 'tel')
          +button('ЗАБРОНИРОВАТЬ МЕСТО', 'submit')
          p Нажимая на кнопку вы соглашаетесь с условиями обработки данных и <a href="./policy.pug" target="_blank">политикой конфиденциальности</a>
#modal5.modal
  .modal__container
    .modal__body
      .modal__head
        h2 Ваша заявка принята!
      .modal__main
        p Мы свяжемся с вами в ближайшее время
        hr
        p или позвоните нам сами
        +button('+7 (495) 550-21-48', 'link', 'tel:+74955502148')
        p Пишите, мы Online
        include ../components/messengers.pug 