include ../components/button.pug

header.header
  .header__container
    nav.navpanel
      include ./00_navbar.pug
    .header__nav 
      ul
        li
          a(href="/#uslugi") Категории
        li
          a(href="/#steps") Этапы обучения
        li
          a(href="/#about") О нас
        li
          a(href="/#studytime") График обучения
        li
          a(href="/#maps") Контакты
        li
          a(href="./docs.pug") Документы
    .header__main
      .header__main-wrapper
        .header__main-left 
          h1(data-animate-on-scroll) Стань уверенным водителем <br>и сдай на права всего <br>за 2.5 месяца
          +button('Записаться <br>на пробное занятие')(data-open-modal_2)
        .header__main-right
          img(src="./img/header.png" srcset="./img/header@2x.png 2x" loading="lazy" alt="Машина автошколы")
          +button('Записаться <br>на пробное занятие')(data-open-modal_2)
    .header__utp 
      ul(data-animate-on-scroll)
        li 
          img(src="./img/header/1.png" srcset="./img/header/1@2x.png 2x" loading="lazy")
          span Бесплатное пробное занятие
          p Приходите на первое занятие и оцените качество наших услуг
        li 
          img(src="./img/header/2.png" srcset="./img/header/2@2x.png 2x" loading="lazy")
          span Опытные инструкторы
          p За 15 лет обучили более 5000+ водителей
        li 
          img(src="./img/header/3.png" srcset="./img/header/3@2x.png 2x" loading="lazy")
          span Обучение в рассрочку
          p Оплачивайте обучение в несколько этапов и без процентов