include ../components/button.pug
mixin step(title, index)
  .steps-grid__item
    span Шаг #{index}
    h4!= title

section.steps#steps
  .steps__container.container
    .steps__head.head
      h2 Помогаем нашим ученикам на каждом этапе
    .steps__body
      div(class="steps-grid" data-animate-on-scroll)
        +step('Подать документы', 1)
        +step('Пройти <br> теоретический курс', 2)
        +step('Пройти <br> мед. комиссию', 3)
        +step('Вождение <br> на площадке', 4)
        +step('Вождение <br> в городе', 5)
        +step('Сдать <br> внутренний экзамен', 6)
        +step('Сдать экзамен <br> в ГИБДД', 7)
        .steps-grid__item-spec 
          h3 Быть уверенным в своих знаниях и навыках, <br> ведь теперь ты обладатель водительских прав!
          .steps-grid__item-spec-btn
            +button('Оставить заявку')(data-open-modal_2)
            p У тебя всё получится, мы тебе гарантируем!
