mixin item(text, img)
  .pluses__item
    img(src=`./img/photos/pluses/${img}.png`)
    p!= text

section.photos#about
  .photos__container.container
    .photos__head.head
      h2 Наша школа — фотогалерея
      span Нажмите на фото для увеличения
    .photos__body
      .photos__gallery
        .photos__nav
        .photos__swiper
      .pluses
        +item('Инструктора постоянно проходят программы по повышению квалификации', 1)
        +item('Обучение вождению по индивидуальному плану', 2)
        +item('Наличие закрытой собственной площадки', 3)
        +item('Все учебные автомобили соответствуют установленным стандартам', 4)
