include ../components/button.pug

section.studytime#studytime
  .studytime__container.container
    .studytime__head.head
      h2 Обучайтесь в удобное для вас время
    .studytime__body
      .studytime__times 
        div(class="studytime__times-item" data-animate-on-scroll)
          img(src="./img/times/1.png" srcset="./img/times/1@2x.png 2x" loading="lazy" alt="Теория")
          h4 Теоретические занятия
          span с 20:00 до 22:00
          span пн-пт
        div(class="studytime__times-item" data-animate-on-scroll)
          img(src="./img/times/2.png" srcset="./img/times/2@2x.png 2x" loading="lazy" alt="Практика")
          h4 Практические занятия
          span с 07:00 до 20:00
          span пн-сб
      .studytime__info 
        p График занятий по вождению составляется индивидуально для каждого ученика. <br> Инструктор свяжется с Вами и поможет подобрать Вам наиболее удобное время.
      +button('Записаться <br>на пробное занятие')(data-open-modal_2)
