include ../components/button.pug

section.sale 
  .sale__container.container
    div(class="sale__body" data-animate-on-scroll) 
      h2 Так же у нас работает <br> <strong>специальная система скидок</strong> <br> для малоимущих семей
      +button('Узнать подробнее')(data-open-modal_3)
      img(data-src="./img/sale.png" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP8/x8AAwMCAO+ip1sAAAAASUVORK5CYII=" loading="lazy" alt="Большая скидка")
      noscript
        img(src="./img/sale.png", alt="")