include ../components/button.pug

section.sale 
  .sale__container.container
    div(class="sale__body" data-animate-on-scroll) 
      h2 Так же у нас работает <br> <strong>специальная система скидок</strong> <br> для студентов и многодетных семей
      +button('Узнать подробнее')(data-open-modal_3)
      img(src="./img/sale.png", alt="")
      