include ../components/button.pug

section.sale 
  .sale__container.container
    .sale__body 
      h2 Так же у нас работает <br> <strong>специальная система скидок</strong> <br> для студентов и многодетных семей
      +button('Узнать подробнее')
      img(src="./img/sale.png", alt="")
      