mixin item(title, desc, img)
  .privilege__item
    img(src=`./img/privilege/${img}.png` srcset=`./img/privilege/${img}@2x.png 2x` loading="lazy")
    h4= title 
    p= desc

section.privilege
  .privilege__container.container
    .privilege__head.head
      h2 Почему нас выбирают и рекомендуют
    div(class="privilege__body" data-animate-on-scroll) 
      +item('Рассрочка на полный курс', 'С оплатой только фактически откатанных часов', 1)
      +item('Опытные инструкторы', 'Аккредитованные инструктора с высшем образоием и опытом работы более 5 лет', 2)
      +item('Собственный автодром', 'Оборудование соответствует установленным требованиям', 3)
      +item('Автомат или механника', 'Выбор обучения с автоматической или механической коробкой передач', 4)
      +item('Действующая лицензия и заключение ГИБДД', 'Автошколы безопасного вождения', 5)
      +item('Экзамены', 'Нам выгодно учить так, чтобы Вы сдали с первого раза', 6)

      