section.maps#maps
  .maps__container
    .maps__head.head
      h2 Ждём вас на пробном занятии
    .maps__body
      .maps__map 
        <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A4627906fde598113dc51d59c619db7ea33f48d2547634be499496abf84704e4f&amp;source=constructor" frameborder="0"></iframe>
      .maps__info
        .infomap 
          h4 Контакты
          .infomap__item 
            img(src="./img/maps/location.svg", alt="Расположение")
            p.infomap__text Московская область, <br> г.Дзержинский, <br> ул. Томилинская, д.9
          .infomap__item 
            img(src="./img/maps/tel.svg", alt="Расположение")
            .infomap__text 
              a(href="tel:+74955502148") +7 (495) 550-21-48
              br
              a(href="tel:+79035656730") +7 (903) 565-67-30
          .infomap__item 
            img(src="./img/maps/email.svg", alt="Расположение")
            a(href="mailto:avto_lider@mail.ru" class="infomap__text") avto_lider@mail.ru

