mixin question(title, text)
  .questions__item 
    .questions__title
      h4= title
    p(class="questions__answer" aria-hidden="true")!= text

section.faq
  .faq__container.container
    .faq__head.head
      h2 Вопросы, которые студенты задают нам чаще всего
    .faq__body
      div(class="questions" data-animate-on-scroll) 
        +question('Сколько времени займёт весь процесс обучения?', 'Процесс обучения у каждого студента индивидуальный, в среднем весь процесс обучения может занять от 1 месяца.')
        +question('Какие документы требуются при поступлении в вашу автошколу?', 'При поступлении в нашу автошколу необходимо иметь при себе: <br> 1. Паспорт <br> 2. Первоначальный взнос. <br>3. Две фотографии размером 344.')
        +question('А что если я не сдам экзамен в автошколе с первого раза?', 'В этом нет ничего страшного! В нашей автошколе предусмотрена система пересдачи внутренних экзаменов, поэтому если Вы не смогли сдать с первого раза теоретический экзамен или практику вождения, то Вы можете попробовать свои силы еще раз. Кроме того, в процессе обучения Вы бесплатно можете обращаться за консультацией к преподавателю и своему инструктору по вождению.')
        +question('У меня есть права, но мало опыта. Как быть?', 'Это совсем не страшно! Если у Вас уже есть водительские права категории "В", но мало опыта практического вождения, либо Вы долго не садились за руль и хотите восстановить свои навыки, то специально для Вас в нашей автошколе действуют курсы восстановления утраченных навыков вождения автомобиля. К обучению можно приступить сразу после. записи в нашем офисе. В процессе обучения учебная литература предоставляется бесплатно!')
        +question('Мне 16 лет, я могу получить у вас права?', ' Обучаться можно с 16 лет, а сдавать экзамен в ГИБДД с 17 лет по согласию обоих родителей. Получение водительского удостоверения с 18 лет')
        +question(' В чем отличие АКПП и МКПП?', 'Главное отличие, это то что отучившись на автомате, вы сможете ездить только на автомате. На механике таких ограничений нет.')