footer.footer 
  .footer__container.container
    .footer__body 
      .footer__links
        img(src="./img/logo.png", alt="Логотип")
        .footer__messengers 
          h4 Мы в соц.сетях:
          include ../components/messengers.pug
      .footer__nav 
        ul
          li 
            h4 Навигация
          li
            a(href="/") Категории
          li
            a(href="/") Этапы обучения
          li
            a(href="/") О нас
          li
            a(href="/") График обучения
          li
            a(href="/") Контакты
        ul
          li 
            h4 Контакты
          li
            a(href="/") +7 (495) 550-21-48
          li
            a(href="/") +7 (903) 565-67-30
        ul
          li 
            h4 Адрес
          li
            p Московская область, <br> г.Дзержинский, <br> ул. Томилинская, д.9
        ul
          li 
            h4 Документы
          li
            a(href="/") Политика конфиденциальности
          li
            a(href="/") Ссылка



