footer.footer 
  .footer__container.container
    .footer__body 
      .footer__links
        img(src="./img/logo.png", alt="Логотип")
        .footer__messengers 
          h4 Мы в соц.сетях:
          include ../components/messengers.pug
      .footer__nav 
        ul
          li 
            h4 Навигация
          li
            a(href="/#uslugi") Категории
          li
            a(href="/#steps") Этапы обучения
          li
            a(href="/#about") О нас
          li
            a(href="/#studytime") График обучения
          li
            a(href="/#maps") Контакты
        ul
          li 
            h4 Контакты
          li
            a(href="tel:+74955502148")  +7 (495) 550-21-48
          li
            a(href="tel:+79035656730") +7 (903) 565-67-30
        ul
          li 
            h4 Адрес
          li
            p Московская область, <br> г.Дзержинский, <br> ул. Томилинская, д.9
        ul
          li 
            h4 Документы
          li
            a(href="./policy.pug" target="_blank") Политика конфиденциальности
          li
            a(href="./docs.pug" target="_blank") Нормативно-правовые акты
    .footer__madeby Разработка сайта: <a href="https://t.me/Larin_mv">Студия Максима Ларина</a>