doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    //- Favicon start
    link(rel="icon", href="favicon.ico", type="image/x-icon")
    link(rel="icon" href="32x32.png" size="32x32" type="image/png")
    link(rel="icon" href="16x16.png" size="16x16" type="image/png")
    //- Favicon end
    link(rel="stylesheet", href="./index.css")
    style
      include docs.css

    title Автошкола Автолидер
  body
    nav.navpanel
      include blocks/00_navbar.pug
    main.docs.container
      .docs__head.head 
        h2 Документы
      .docs__body 
        .docs__license 
          a(href="https://disk.yandex.ru/d/wyfoPgTlWPzeVA" target="_blank")
            img(src="./img/docs/license.jpg?width=300", alt="Лицензия")
        .docs__ol
          include:markdown-it(breaks) ./data/docs.md
            
    include blocks/10_footer.pug
    //- JS
    script(src='./js/navbar.js')