doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="")
    meta(name="keywords", content="")
    //- Favicon start
    link(rel="icon", href="./assets/favicon/favicon.ico", type="image/x-icon")
    link(rel="icon" href="./assets/favicon/32x32.png" size="32x32" type="image/png")
    link(rel="icon" href="./assets/favicon/16x16.png" size="16x16" type="image/png")
    //- Favicon end
    link(rel="stylesheet", href="./index.css")
    link(rel="stylesheet", href="./js/swiper-bundle.min.css")

    title Автошкола Автолидер
  body
    include blocks/01_header.pug
    main
      include blocks/02_garant.pug
      include blocks/03_steps.pug
      include blocks/04_photos.pug
      include blocks/05_studytime.pug
      include blocks/06_sale.pug
      include blocks/07_privilege.pug
      include blocks/08_maps.pug
      include blocks/09_faq.pug
    include blocks/10_footer.pug
    //- Modal window
    //- include components/modal.pug
    //- Cookie window
    //- include components/cookies.pug
    //- JS
    //- script(src='./js/index.js' type="module")
    //- script(src='./js/navbar.js' type="module")
    //- script(src='./js/modal.js' type="module")
    //- script(src='./js/form.js' type="module")
    //- script(src='./js/swiper.js' type="module")
    //- script(src="./js/widget-button.js" async)